<div class="content">
  <h1 class="head">Lets Build!</h1>
  <p>Contact me via email or LinkedIn and I will get back to you as soon as possible!</p>
  <div class="footer">
    <img src="/assets/img/xoxo.png" alt="">
  </div>
  <div class="row">

      <div class="email">
        <a href="mailto:vsysoup@gmail.com">
        <img src="/assets/img/icon_email.png" alt=""> 
        </a>
      </div>
      <div class="linkedin">
        <a href="https://www.linkedin.com/in/vickiesy/">
        <img src="/assets/img/icon_linkedIn.png" alt="linkedin">
        </a>
      </div>
      <div class="github">
        <a href="https://www.github.com/vikkisy">
        <img src="/assets/img/icon_github.png" alt="github">
        </a>
      </div>
        

  </div>
  

</div>

