
<div class="header">


    <div class="button-row">

            <a mat-button href="#home" >About</a>
            <a mat-button href="#port"> Portfolio </a>
        
            <a mat-button href="#resume" > Resume </a>
            <a mat-button href="#contact" > Contact </a>

    </div>
    
    

</div>

<section id="home">
    <app-home></app-home>
</section>

<section id="port">
    <app-portfolio></app-portfolio>
</section>

<section id="resume">
    <app-resume></app-resume>
</section>

<section id="contact">
    <app-contact></app-contact>
</section>


<!-- 
<router-outlet></router-outlet> -->


