<div class="content">
  <h2 mat-dialog-title></h2>
  <mat-dialog-content>
    <h4>Discussion Board</h4>
    <p>
      This discussion board is a web based application where people can log in and post a question, answer other questions, and like other user's answers. 
    </p>
    <p>
      This web app was built using the MEAN stack (MongoDB, Express, Angular, and Node with JavaScript).
    </p>
    <iframe width="500" height="300" src="https://www.youtube.com/embed/CVE42Tdcxuk" frameborder="0" gesture="media" allow="encrypted-media"
      allowfullscreen></iframe>
    <p>
      <img src="/assets/img/github.png" alt="github" width="50px">
      <a href="https://github.com/vikkisy/MEAN_discussion">View the project on github!</a>
    </p>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onClose()">Close</button>
  </mat-dialog-actions>

</div>
