<div class="content">
    <h1 class="head">Take a look at my resume!</h1>
    <!-- <p><embed src="/assets/pdf/resumeVickieS.pdf" type="application/pdf" width="60%">
      </p> -->
     <p><a href="/assets/pdf/resumeVickieS.pdf" download>SAVE A COPY <img class="pic" src="/assets/img/airplane.png" alt=""></a>
      
    </p> 
    

    <!-- Trigger the Modal -->
    <img id="myImg" src="/assets/img/resume_VickieS.jpg" alt="" height="70%">
    
    <!-- The Modal -->
    <div id="myModal" class="modal">
    
      <!-- The Close Button -->
      <span class="close">&times;</span>
    
      <!-- Modal Content (The Image) -->
      <img class="modal-content" id="img01">
    
      <!-- Modal Caption (Image Text) -->
      <div id="caption"></div>
    </div>
</div>