<div class="content">
  <h2 mat-dialog-title></h2>
  <mat-dialog-content>
    <h4>Bot Or Not</h4>
    <p>A web based application where muliple people can log on and play. The object of the game is to chat with multiple people and a chat bot. At the end of 30 seconds, you have the opportunity to guess which person is the bot. The player and bots name are changed to random names to avoid cheating.</p>
    <p>Bot or Not was a team project consisting of 3 members. This web app was built using Java, Javascript, JSP, CSS, MySQL, Spring Boot, CleverBot API, and Web Sockets.</p>
    <p>My role was helping with the backend and some front-end concept.</p>
    <iframe class="portfolio-box" width="550" height="300" src="https://www.youtube.com/embed/Dm69FGBJDZE" frameborder="0" gesture="media"
      allow="encrypted-media" allowfullscreen></iframe>
    <p><img src="/assets/img/github.png" alt="github" width="50px">
      <a href="https://github.com/vikkisy/botornot">View the project on github!</a> </p>
    
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onClose()">Close</button>
  </mat-dialog-actions>
  
</div>