
  <div class="info">

    <h3 class="head"><img src="/assets/img/name.png" alt="" width="100%">
    Full Stack Developer</h3>
    <!-- <div class="picture">
       <img src="/assets/img/lay.png" alt="">
    </div> -->
    <!-- <div class="content">
      
      <p>
        I am a web developer knowledgable in
        JavaScript,
        Java and
        Python and I have a passion for problem solving and being creative.
      </p>
      <p>With my previous experience in graphics design and my knowledge of coding, I have what it takes to provide quality applications
        from frontend to backend.
      Additionally, my past experience in various settings have allowed me to excel in communication and team work.</p>
      <p>I am seeking to join a great team where I can continue to grow and enhance my knowledge while contributing my current skills
        and expertise. </p>
    </div> -->
    <div class="cards">
      <img class="card1" src="/assets/img/cir1.png" alt="">
      <img class="card2" src="/assets/img/cir2.png" alt="">
      <img class="smile" src="/assets/img/smiley.png" alt="">
      <img class="card3" src="/assets/img/cir3.png" alt="">
      <img class="card4" src="/assets/img/cir4.png" alt="">
    </div>

    

  </div>

  <!-- <div class="row">
    <span>HTML</span>
    <span>CSS</span>
    <span>Bootstrap</span>
    <span>JavaScript</span>
    <span>MongoDB</span>
    <span>Angular</span>
    <span>Node</span>
    <span>Express</span>
    <span>Java</span>
    <span>Spring Boot</span>
    <span>JPA</span>
    <span>Python</span>
    <span>MySQL</span>
    <span>Django</span>
  </div> -->

