*{
  margin: 0px;
  padding: 0px;
  
}

.info {
  // -webkit-clip-path: polygon(0 0, 100% 15%, 100% 83%, 0% 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
  // background-color: rgb(46, 46, 56);
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  padding: 125px 50px 150px 50px;
  text-align: center;
  color: rgb(46, 46, 56);
  background: linear-gradient(271deg, #5f4d8c, #ffc8fb, #a7d4e0, #43c2af);
  background-size: 800% 800%;
  -webkit-animation: backGrad 50s ease infinite;
  -moz-animation: backGrad 50s ease infinite;
   animation: backGrad 50s ease infinite;
}

.cards {
  margin-top: 25px;
  display: inline-block;
}
.homecard {
  // border-top: 5px solid rgb(46, 46, 56);
  border-style: offset;
  border-radius: 5px;
  // width: 20%;
  width: 200px;
  margin: 15px 15px;
}
.content {
  // height: 100%;
  overflow: hidden;
}
.head {
  font-family: 'Heebo', sans-serif;
  font-size: 36px;
  width: auto;
  
  // display: inline-block;
  margin-bottom: 10px;
  text-transform: uppercase;
  // opacity: 0;
  // animation-name: homeBounce;
  // animation-duration: 850ms;
  // animation-timing-function: linear;
  // animation-fill-mode: forwards;
}
.picture {
  height: 20%;
  animation-name: homeBounce;
  animation-duration: 850ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  
}
.card1, .card2, .card3, .card4, .smile{
  display: none;
  border-style: offset;
  border-radius: 5px;
  // width: 20%;
  width: 200px;
  margin: 15px 15px;
}


@-webkit-keyframes backGrad {
    0%{background-position:0% 46%}
    50%{background-position:100% 55%}
    100%{background-position:0% 46%}
}
@-moz-keyframes backGrad {
    0%{background-position:0% 46%}
    50%{background-position:100% 55%}
    100%{background-position:0% 46%}
}
@keyframes backGrad { 
    0%{background-position:0% 46%}
    50%{background-position:100% 55%}
    100%{background-position:0% 46%}
}

@keyframes homeBounce{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
    color: #a7d4e0;
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
    color: #ffc8fb;
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
    color: #5f4d8c;
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
    // color: rgb(182, 17, 100);
    color: rgb(46, 46, 56);
  }
}
.row {
  padding: 0px 50px;
  // width: 700px;
}
span {
    background-color: #3f51b5;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 2px;
    margin: 15px;
    width: 10%;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}